#demo {
    text-align: center;
    font-size: 60px;
    color: black;
    background-color: darkgray;
    margin-top: 0px;
    border: black solid 2px;
    max-width: fit-content;
}

.main {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
}

.space {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.p2 {
    width: 420px;
}

.p {
    text-decoration: none;
    list-style-type: none;
    color: #0B0B45;
    font-size: 18px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

@media screen and (max-width: 600px) {
    .main {
        font-size: 13px;
    }
    #demo {
        font-size: 50px;
    }
    .p {
        font-size: 20px;
        color: aliceblue;
        margin-left: 5px;
    }
}

@media screen and (min-width: 1600px) {
    .p {
        font-size: larger;
    }
}
