* {
  margin: 0;
padding: 0;
}
body{
  background-color: whitesmoke;
}
.li {
list-style-type: none;
margin: 0;
padding: 0;
background-color: #333;
position: fixed;
top: 0;
width: 100%;
}
.li a{
float: left;
}

.li a {
display: block;
color: white;
font-family: 'Plus Jakarta Sans', sans-serif;
font-size: 14px;
text-align: center;
padding: 14px 16px;
text-decoration: none;

}
.li a:hover {
background-color: whitesmoke;
color: #333;
}
.li a.active {
background-color: whitesmoke;
color: black;
}
.main {
padding: 16px;
margin-top: 30px;
}
.li .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .li a:not(.active) {display: none;}
  .li a.icon {
    float: right;
    display:block ;
  }
}

@media screen and (max-width: 600px) {
  .li.responsive {position: relative;}
  .li.responsive .icon {
    position: absolute;
    right: 0;
    top:0;
  }
  .li.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}
 