* {
    margin: 0;
    padding: 0;
}

.p {
    text-decoration: none;
    list-style-type: none;
    color: lightslategray;
    font-size: 18px;
}

.main {
    padding: 16px;
    margin-top: 30px;
    font-size: 16px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
    font-size: 50px;
}

button {
    width: 70px;
    height: 30px;
    border-radius: 5px
}

.space {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    form {
        margin-right: 120px;
    }
    .p {
        font-size: 20px;
        color: aliceblue;
    }
    .margin {
        margin-left: 8px;
    }
}

@media screen and (min-width: 1600px) {
    .p {
        font-size: larger;
    }
}