* {
  margin: 0;
padding: 0;
}

.main {
padding: 16px;
margin-top: 30px;
display: flex;
justify-content: center;
font-family: 'Plus Jakarta Sans', sans-serif;
font-size: 16px;
}


.black {
  display: flex;
  flex-direction: row-reverse;
  background-color: rgb(255, 255, 255);
  width: 80px;
  margin: 1px 16px;
  padding-top: 5px;
  padding: 5px 5px;
  padding-bottom: 5px;
  font-size: 16px;
  font-family: system-ui;
  text-align: center;
  
 }
 
#columns{
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.column{
  padding: 10px 0;
}
.w{
  max-width:max-content ;
  border: 1px solid gray;
  padding: 5px 5px;
  margin: 1px 5px 1px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
       
}
